version: '3'
services:
{% for n in range(num_services) %}
  web{{ n }}:
    image: pxdlab:latest
    ports:
      - "{{ 8880 + n }}:8888"
    deploy:
      resources:
        limits:
          cpus: '0.25'
          memory: 1G
        reservations:
          cpus: '0.25'
          memory: 1G
{% endfor %}
